$threshold: 959px
$threshold2: 1263px

.edit-form-dialog
  max-width: 960px !important
  width: 100% !important

.form-error
  color: #F00

.required label:before
  content: "* "
  display: inline

.align-right
  text-align: right
.align-left
  text-align: left
.align-center
  text-align: center
.align-middle
  vertical-align: middle

.top-element
  margin-bottom: 16px !important
.inner-element
  margin-top: 16px !important
  margin-bottom: 16px !important
.bottom-element
  margin-top: 16px !important

.my-container
  padding: 12px

.flex-container
  padding: 12px
  display: flex
  flex-direction: column
  flex-grow: 1

.v-stepper
  display: flex
  flex-direction: column
  flex: 1 0 auto
.v-stepper__items
  display: flex
  flex-direction: column
  flex: 1 0 auto
.v-stepper__content
  display: flex
  flex-direction: column
  flex: 1 0 auto
  padding: 0px !important
.v-stepper__content.tab-transition-leave-active,
.v-stepper__content.tab-reverse-transition-leave-active
  height: 100%
.v-stepper__wrapper
  display: flex
  flex-direction: column
  flex: 1 0 auto

.list-container-outer
  flex-grow: 1
  display: flex
  position: relative

.list-container
  padding: 12px
  display: flex
  flex-direction: column
  flex: 1 1 auto
  width: 0px

.fill
  flex-grow: 1
  height: 1px

.clear
  clear: both

.filter-drawer
  width: 320px !important
  padding: 10px
  height: auto !important
  min-height: 100%
  position: relative
  flex: 0 0 auto
  @media screen and (max-width: $threshold)
    width: 100% !important

.main-container
  position: relative
  min-height: 100%
  display: flex
  flex-direction: column

.v-card
  display: flex
  flex-direction: column
  flex: 1 0 auto
.v-window
  display: flex
  flex-direction: column
  flex: 1 0 auto
.v-window__container
  display: flex
  flex-direction: column
  flex: 1 0 auto
.v-window-item
  display: flex
  flex-direction: column
  flex: 1 0 auto
.v-input
  flex: 0 0 auto
.v-tabs
  flex: 0 0 auto

.fixed-container
  max-width: 960px
  width: 100% !important
.fixed-content
  max-width: 480px
  width: 100% !important
.fixed-content-2
  max-width: 320px
  width: 100% !important

.nowrap
  white-space: nowrap
.inline-nowrap
  white-space: nowrap
  display: inline-block

@media screen and (min-width: $threshold)
  .show-shrink
    display: none

@media screen and (max-width: $threshold)
  .hide-shrink
    display: none
  .full-shrink
    width: 100% !important
  .center-shrink
    text-align: center !important

@media screen and (max-width: $threshold2)
  .hide-shrink-2
    display: none
  .full-shrink-2
    width: 100% !important
  .center-shrink-2
    text-align: center !important


.row-group
  margin-top: -24px
.row-group + .row-group
  margin-top: 0px
.row-group .row
  margin-top: 12px
@media screen and (min-width: $threshold2)
  .big-container .row-group
    margin: -12px
  .big-container .row-group + .row-group
    margin-top: 12px
  .big-container .row-group .row
    width: 50%
    display: inline-flex
    margin: 0px

.dg-content-cont
  font-family: sans-serif !important