.edit-form-dialog
  min-width: 960px !important
  width: 65% !important

.form-error
  color: #F00

.required label:before
  content: "* "
  display: inline

.align-right
  text-align: right
.align-left
  text-align: left
.align-center
  text-align: center
.align-middle
  vertical-align: middle

.top-element
  margin-bottom: 16px
.inner-element
  margin-top: 16px
  margin-bottom: 16px
.bottom-element
  margin-top: 16px

.my-container
  padding: 12px

.center-panel
  margin-left: 320px

.filter-drawer
  width: 320px !important
  padding: 10px
  height: auto !important
  min-height: 100%

.main-container
  position: relative
  min-height: 100%
